{% extends "base.html" %}

{% block content %}
<nav class="sidenav">
	<a href="/projects/redact/{{ project.id }}">Общие настройки</a>
	<a href="/projects/redact/{{ project.id }}/props">Свойства</a>
	<a href="/projects">Назад</a>
</nav>
<div class="main-dashboard">
{% block project_content %}
<div>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.name.label }}<br>
			{{ form.name(class="form-control", type="text") }} <br>
			{% for error in form.name.errors %}
		<p class="alert alert-danger" role="alert">
			{{ error }}
		</p>
		{% endfor %}
		</p>
		<p>
			{{ form.description.label }}<br>
			{{ form.description(class="form-control", type="text") }} <br>
			{% for error in form.description.errors %}
		<p class="alert alert-danger" role="alert">
			{{ error }}
		</p>
		{% endfor %}
		</p>
		<p>{{ form.submit(type="submit", class="btn btn-primary") }} <a href="/projects/delete/{{ project.id }}" class="btn btn-danger">Удалить</a></p>
	</form>
</div>
{% endblock %}
</div>
{% endblock %}
