{% extends "dashboard.html" %}

{% block content_dashboard %}
<h1>Проекты</h1>
<a class="btn btn-primary" href="/projects/add">Создать</a>

<table class="list-projects table table-striped">
	<thead>
		<tr>
			<th>Название</th>
			<th>Описание</th>
			<th>Управление</th>
		</tr>
	</thead>
	<tbody>
		{% for proj in projects %}
		<tr>
			<td>{{ proj.name }}</td>
			<td>{{ proj.description }}</td>
			<td>
				<a class="btn btn-warning" href="/projects/redact/{{ proj.id }}">Изменить</a>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
